In [1]:
import pandas as pd

In [3]:
!pwd

/Users/mdranamahmud/Documents/GitHub/Data-Scientist-Nanodegree

In [4]:
df = pd.read_excel("quizzes-data-1.xlsx")
df.head()

,Temp,Sales,Unnamed: 2,MPG,"Weight (1,000 lbs)",Unnamed: 5,Unnamed: 6,x,y,x.1,y.1,x.2,y.2
0,14.2,215.0,NaN,31,1650,NaN,NaN,1.0,1.0,1.0,7.0,-1.0,1.0
1,16.4,325.0,NaN,31,1800,NaN,NaN,2.0,2.0,2.0,6.0,-2.0,4.0
2,11.9,185.0,NaN,34,1900,NaN,NaN,3.0,3.0,3.0,5.0,-3.0,9.0
3,15.2,332.0,NaN,22,2200,NaN,NaN,4.0,4.0,4.0,4.0,-4.0,16.0
4,18.5,406.0,NaN,24,2250,NaN,NaN,5.0,5.0,5.0,3.0,-5.0,25.0

In [5]:
df[["Temp","Sales"]].corr()

          Temp    Sales
Temp   1.00000  0.95902
Sales  0.95902  1.00000