In [1]:
import pandas as pd

In [2]:
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

In [3]:
print(type(items))

<type 'dict'>

In [4]:
shopping_carts = pd.DataFrame(items)
shopping_carts

         Alice    Bob
bike     500.0  245.0
book      40.0    NaN
glasses  110.0    NaN
pants     45.0   25.0
watch      NaN   55.0

In [5]:
# We create a dictionary of Pandas Series without indexes
data = {'Bob' : pd.Series([245, 25, 55]),
        'Alice' : pd.Series([40, 110, 500, 45])}
df = pd.DataFrame(data)
df

   Alice    Bob
0     40  245.0
1    110   25.0
2    500   55.0
3     45    NaN

In [6]:
items

{'Alice': book        40
 glasses    110
 bike       500
 pants       45
 dtype: int64, 'Bob': bike     245
 pants     25
 watch     55
 dtype: int64}

In [8]:
bob_shopping_cart = pd.DataFrame(items,columns = ['Bob'])
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

In [9]:
sel_shopping_cart = pd.DataFrame(items,index = ['pants','books'])
sel_shopping_cart

       Alice   Bob
pants   45.0  25.0
books    NaN   NaN

In [10]:
# We create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}
df = pd.DataFrame(data)
df

   Floats  Integers
0     4.5         1
1     8.2         2
2     9.6         3

In [11]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame 
store_items = pd.DataFrame(items2)
store_items

   bikes  glasses  pants  watches
0     20      NaN     30       35
1     15     50.0      5       10